---
- name: "Get distribution"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ host_os }}.yml"
  register: distribution_config

- name: "Run tasks for {{ host_os }}"
  ansible.builtin.include_tasks: "{{ host_os }}.yml"
  when: distribution_config.stat.exists

- name: Set timezone to America/Merida
  become: true
  community.general.timedatectl:
    timezone: America/Merida
    state: present

- name: Enable NTP synchronization
  become: true
  community.general.timedatectl:
    ntp: true
    state: present

- name: Ensure GRUB_DEFAULT is set to 'saved'
  become: true
  ansible.builtin.lineinfile:
    name: /etc/default/grub
    regexp: "^GRUB_DEFAULT=0"
    line: "GRUB_DEFAULT=saved"
    create: true
    backup: true
    owner: root
    group: root
    mode: "0644"

- name: Ensure GRUB_SAVE_DEFAULT is set to 'true'
  become: true
  ansible.builtin.lineinfile:
    dest: /etc/default/grub
    regexp: "^#GRUB_SAVEDEFAULT=true"
    line: "GRUB_SAVE_DEFAULT=true"
    create: true
    backup: true
    owner: root
    group: root
    mode: "0644"

- name: Ensure GRUB_DISABLE_SUBMENU is set to 'y'
  become: true
  ansible.builtin.lineinfile:
    dest: /etc/default/grub
    regexp: "^#GRUB_DISABLE_SUBMENU=y"
    line: "GRUB_DISABLE_SUBMENU=y"
    create: true
    backup: true
    owner: root
    group: root
    mode: "0644"

- name: Regenerate GRUB configuration
  become: true
  ansible.builtin.command:
    cmd: grub-mkconfig -o /boot/grub/grub.cfg
  register: done
  changed_when: done.rc != 0
